.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 100px;
  padding: 40px;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.App-title {
  font-size: 3em;
  font-weight: 400;
}

.App-intro {
  font-size: large;
}

#formDiv {
  background-color: #e8ebd4;
  height: 85px;
} 

